<ul class="dropdown dropdown-linear dropdown-columnar" id="nav">

  <% @top_categories.each { |top_category| %>
      <li class="topList<%= " active" if request[:controller] == "main" && ((request[:action] == "index" && params[:id].to_i == top_category.id) || (request[:action] == "event" && top_category.id == @event.top_category.id) || (request[:action] == "product" && top_category.id == @product.event.top_category.id)) %>">
        <%= link_to top_category.name, {:controller => :main, :action => :index, :id => top_category}, :class => "topLink" %>
        <ul>
          <li class="dir">
            <div class="eventPeriod">TODAY EVENTS</div>
            <ul>
              <% top_category.events.today.each { |event| %>
                  <li>
                    <%= link_to event.name, {:controller => :main, :action => :event, :id => event}, :class => "eventName" %>
                  </li>
              <% } %>
            </ul>
          </li>
          <li class="dir">
            <div class="eventPeriod">EVENTS ENDING SOON</div>
            <ul>
              <% top_category.events.ending_soon.each { |event| %>
                  <li>
                    <%= link_to event.name, {:controller => :main, :action => :event, :id => event}, :class => "eventName" %>
                  </li>
              <% } %>
            </ul>
          </li>
        </ul>
      </li>
  <% } %>

</ul>

<div class="cleaner"></div>