<h2 style="float: left;"><%= @page_title %></h2>
<%= link_to ({:controller => :product_types, :action => :delete, :id => @product_type}, :method => :post, :confirm => "All flat rate products of this product type will be deleted as well. Are you sure?", :class => "btn btn-danger", :style => "float: right;") do %>
    <i class="icon-trash icon-white"></i> Delete
<% end %>
<div class="cleaner"></div>

<%= render :partial => "product_types/form" %>