<h1>
  VenteClub
</h1>
<div class="cleaner" style="height: 10px;"></div>
<h4>
  VenteClub.com features daily design inspirations and sales at up to 70% off retail & FREE international shipping!
</h4>
<p class="member-access-title" style="padding-bottom: 10px;">Enter your email to join the club</p>
<%= form_for(:subscriber, :as => :subscriber, :url => {:controller => :subscribe, :action => :index}, :html => {:id => "subscribe"}) do |f| %>
    <%= f.error_messages(:class => "alert alert-block alert-error", :header_message => nil, :message => nil) %>
    <%= f.text_field :mail, :class => "input-text validate[required,custom[email]]" %>
    <%= f.submit "SUBMIT", :class => "input-member" %>
<% end %>
