<div class="checkoutHeader">
  Edit Shipping Address
</div>
<div class="checkoutContent">
  <div class="content-body" style="float: left;">
    <%= form_for @shipping_address, :as => :shipping_address, :url => {:controller => :checkout, :action => :edit_address}, :method => :post, :html => {:class => "form-horizontal"} do |shipping_address| %>
        <%= render :partial => "checkout/shipping address_fields", :locals => {:shipping_address => shipping_address} %>
        <%= shipping_address.submit("Continue Checkout >>", :class => "input-member", :id => "save_btn", :style => "width:135px;") %>
        <div class="cleaner"></div>
    <% end %>
  </div>
  <div class="cleaner"></div>
</div>