<h2 style="float: left;"><%= @page_title %></h2>
<%= link_to ({:controller => :worldwide_tariffs, :action => :delete, :id => @tariff}, :method => :post, :confirm => "Country will be deleted from shipping destinations. Are you sure?", :class => "btn btn-danger", :style => "float: right;") do %>
    <i class="icon-trash icon-white"></i> Delete
<% end %>
<div class="cleaner"></div>

<%= render :partial => "worldwide_tariffs/form" %>