Total Events: <span class="badge badge-success"><%= @events_amount %></span> <br/>
Total Products: <span class="badge badge-success"><%= @products_amount %></span> <br/>
Total Orders: <span class="badge badge-success"><%= @orders_amount %></span> <br/>
