<h2 style="float: left;"><%= @page_title %></h2>
<%= link_to({:controller => :events, :action => :delete, :id => @event}, :method => :post, :confirm => "All products will be deleted as well. Are you sure?", :class => "btn btn-danger", :style => "float: right;") do %>
    <i class="icon-trash icon-white"></i> Delete
<% end %>
<div class="cleaner"></div>

<%= form_for @event, :as => :event, :url => {:controller => :events, :action => :edit, :id => @event}, :method => :post, :html => {:class => "form-horizontal"} do |f| %>
    <%= render :partial => "events/form", :locals => {:f => f} %>
<% end %>
