<h2 style="float: left;"><%= @page_title %></h2>
<%= link_to ({:controller => :sizes, :action => :delete, :id => @size}, :method => :post, :confirm => "All products with this size will be deleted as well. Are you sure?", :class => "btn btn-danger", :style => "float: right;") do %>
    <i class="icon-trash icon-white"></i> Delete
<% end %>
<div class="cleaner"></div>

<%= render :partial => "sizes/form" %>