<div class="contentFull">
  <p class="content-title">Return and Refund Policy</p>

  <div class="staticContent">
    <h2>Refund Method</h2>

    <p>
      If you return an eligible item, you can choose between a refund to the credit card or debit card you used for
      payment for the item's purchase price minus a $9.95 restocking fee.
    </p>

    <p>
      The refund will be automatically applied, and you should expect a refund to your credit card or debit card (a
      $9.95
      restocking fee will apply to credit or debit card returns, unless the return is a result of our error),
      approximately 21 days from the date you mail your return. We will notify you once we've applied the appropriate
      form
      of refund.
    </p>

    <p>
      Please visit our <%= link_to "Online Returns Center", :controller => :returns_center, :action => :index %> to get
      a return mailing label for your order.
    </p>

    <p>
      International Returns: Send the original item (if it is eligible for return) back to us via an economical method
      and, if the return was the result of our error, we'll reimburse you up to a set amount for the shipping costs once
      we receive the returned item. Customers seeking reimbursement for international return shipping must provide a
      copy
      of the return shipping receipt that clearly indicates return shipping cost in USD from the carrier along with the
      return in order to process the return shipping reimbursement request. If the return was not the result of our
      error,
      all return shipping costs, duties and taxes will be your responsibility.
    </p>

    <p>
      Region Max International Return Shipping Refund Amount:
    </p>
    <ul>
      <li>
        Africa $25
      </li>
      <li>
        Asia $20
      </li>
      <li>
        Middle East $25
      </li>
    </ul>

    <h2>
      Returnable Items
    </h2>

    <p>
      As part of the detailed product information about each product, we indicate whether or not it is
      eligible for return. For an item to be eligible for return, the following must apply:
    </p>
    <ol>
      <li>
        The item must have been marked as returnable on our site at the time of purchase. Items marked as non-returnable
        may not be returned at any time.
      </li>
      <li>
        VenteClub must receive the returned item within 14 days from the date the item is delivered to you.
      </li>
      <li>
        Items must be unused, unworn, unwashed, and undamaged. Beauty products are only eligible for returns if they are
        unopened. In order to facilitate the return process, please return items in their original packaging, including:
        hangers, polybags, hang tags on garments, shoe boxes, dust bags, and gift boxes.
      </li>
      <li>
        When returning multiple orders at the same time, please package each order in a separate package and include the
        correct return documentation with each order.
      </li>
    </ol>
    <p>
      To begin the return process: Visit
      the <%= link_to "Online Returns Center", :controller => :returns_center, :action => :index %>
    </p>
  </div>
</div>