<div class="contentFull">
  <p class="content-title">VenteClub Terms and Conditions</p>

  <div class="staticContent">
    <p>
      These Terms and Conditions of Service (“Terms of Service”) govern your membership
      on <%= link_to "VenteClub.com", "http://www.venteclub.com" %>
      and <%= link_to "www.skypexamericas.com", "http://www.skypexamericas.com" %>
      and their associated mobile sites (the “VenteClub Site” or the “Sites”) and your purchases and use
      of products and services available through the VenteClub Site. The VenteClub Site is operated by SKYPEX AMERICAS,
      LLC., and/or its subsidiaries and affiliates (collectively, “VenteClub”). Your use of the VenteClub Site and these
      terms are also governed by the Website Terms of Use (“Terms of Use”), which are incorporated herein by reference.
      <%= link_to "Terms Of Use", :controller => :static, :action => :terms_of_use %>
    </p>

    <p>
      By establishing membership on the VenteClub Site, or purchasing or using products or services through the
      VenteClub
      Site, you acknowledge and agree as follows:
    </p>

    <h2>
      GENERAL
    </h2>

    <p>
      These Terms of Service have been executed and delivered by you and constitute a valid and binding agreement
      between you and VenteClub, enforceable against you in accordance with their terms. You represent that you are (1)
      at
      least 18 years of age, (2) of legal age to form a binding contract, and (3) not a person barred from receiving
      services under the laws of the United States or other applicable jurisdiction. You shall establish and use your
      membership on the VenteClub Site, and purchase and use the products and services available through the VenteClub
      Site, in strict compliance with these Terms of Service and all applicable laws, rules and regulations
      (collectively,
      “Laws”). All calls, emails and other communications between you and VenteClub may be recorded. Membership of
      VenteClub’s affiliate sites and skypexamericas.com require acknowledgement of their own Terms of Service. By
      subsequently using these sites, or any sites acquired by VenteClub, you agree to abide by each of those terms and
      conditions of service.
    </p>

    <h2>
      PRIVACY NOTICE
    </h2>

    <p>
      A copy of the Privacy Notice that applies to the collection, use, disclosure and other processing of
      personal information by VenteClub is located at www.VenteClub.com/company/privacy. You consent to any personal
      information we may obtain about you (either via the VenteClub Site, by email, telephone or any other means) being
      collected, stored and otherwise processed in accordance with the terms of the Privacy Notice. VenteClub may update
      its Privacy Notice from time to time, in its sole discretion, and post an updated version of the notice at the
      website address provided above.
    </p>

    <h2>
      VENTECLUB MEMBERSHIP
    </h2>

    <p>
      Establishing a Membership You may establish membership on the VenteClub Site. At a minimum, enrollment requires
      you
      to (1) indicate agreement to these Terms of Service, (2) provide contact information and identification details,
      and
      (3) submit any other form of authentication required as part of the enrollment process, in VenteClub’s sole
      discretion. You agree to accept responsibility for all activities that occur under your account or password. You
      are
      responsible for maintaining the confidentiality of your account and password, and for restricting access to your
      account. We encourage you to review our Information Security Policy for information about some of the measures you
      may take to help protect your account, but we cannot guarantee that implementing such measures will ensure the
      security of the account or your information.
    </p>

    <p>
      Use of Membership You shall not use your VenteClub membership for any purpose competitive to VenteClub. You will
      notify VenteClub immediately by emailing support@VenteClub.com of any unauthorized use of your VenteClub
      membership
      or the VenteClub Site known to you, whether by you or a third party.
    </p>

    <p>
      Membership Termination You may cancel your VenteClub membership at any time by contacting VenteClub customer
      support
      as specified on the “Contact Us” page on the VenteClub Site. VenteClub may terminate your membership and refuse
      any
      and all current or future use of the VenteClub Sites or other services, or any portion thereof, (1) in order to
      comply with applicable Law, (2) if you provide any information that VenteClub determines, in its sole discretion,
      to
      be untrue, inaccurate, not current or incomplete (or if the information becomes untrue, inaccurate, not current or
      incomplete), (3) if VenteClub determines, in its sole discretion, that you are using your VenteClub membership in
      a
      manner not permitted by these Terms of Service or the Terms of Use, or (4) in other circumstances, as VenteClub
      deems appropriate in its sole discretion. Please note that termination by you or VenteClub of your VenteClub
      membership may result in the termination of your memberships in VenteClub’s affiliated websites, including but not
      limited to, SkypexAmericas.com.
    </p>

    <h2>
      PURCHASES
    </h2>

    <p>
      Order Processing VenteClub may, in its sole discretion, choose to not process or to cancel your order in certain
      circumstances. This may occur, for example, when the product or service you wish to purchase is out of stock or
      has been mispriced, we suspect the request is fraudulent, or in other circumstances VenteClub deems appropriate in
      its
      sole discretion. VenteClub also reserves the right, in its sole discretion, to take steps to verify your identity
      to process your order. VenteClub will either not charge you or refund the charges for orders that we do not
      process
      or cancel.
    </p>

    <p>
      Return Policy VenteClub accepts returns on certain merchandise on a case-by-case basis. For VenteClub ‘s Return
      Policy, which may change from time to time, please click www.VenteClub.com/support/returns.
    </p>

    <p>
      Product and Service Descriptions VenteClub attempts to provide accurate descriptions of products and services on
      the
      VenteClub Site. VenteClub does not warrant, however, that the descriptions are accurate, complete, reliable,
      current
      or error-free. If a product or service offered on the VenteClub Site is not as described, your sole remedy is to
      return the item, as specified in these Terms & Conditions.
    </p>

    <p>
      Pricing Information VenteClub strives to provide accurate pricing information regarding the products and services
      available on the VenteClub Site. We cannot, however, insure against pricing errors. VenteClub reserves the right,
      at
      its sole discretion, to not process or to cancel any orders placed for a product or service whose price was
      incorrectly posted on the site as a result of an error. If this occurs, VenteClub will notify you by email. In
      addition, VenteClub reserves the right, at its sole discretion, to correct any error in the stated full retail
      price.
    </p>

    <p>
      Product and Service Availability The VenteClub Site may contain information regarding the availability of
      merchandise. This information can be used to estimate the likelihood that an item will be shipped immediately
      after
      you place your order. Unfortunately, VenteClub cannot guarantee that an item listed as “in stock” will actually
      ship
      right away, as inventory can change significantly from day-to-day. In rare cases, a product or service offering
      may
      be in stock when a customer places the order, and sold out by the time VenteClub attempts to process the order.
      Should this happen, VenteClub will notify you by email. Service offerings that are out-of-stock generally are no
      longer available. If VenteClub determines that a product or service you wish to purchase is no longer available,
      the
      item will be cancelled from your order. VenteClub refund your money in full and will notify you by email and
      delete
      the item from the VenteClub Sites.
    </p>

    <p>
      Shipping and Tax Click www.VenteClub.com/support/shipping for our policy regarding shipping and tax, which may
      change from time to time.
    </p>

    <h2>
      ENTIRE AGREEMENT
    </h2>

    <p>These Terms of Service constitute the entire agreement of between you and VenteClub regarding the
      specific matters herein, and all prior agreements, letters, proposals, discussions and other documents regarding
      the
      matters herein are superseded and merged into these Terms of Service. In the event there is a conflict between
      these
      Terms of Service and the Terms of Use with respect to the matters herein, these Terms of Service will control.
      SEVERABILITY If any provision of these Terms of Service enforceability of the remaining provisions shall not in
      any
      way be affected or impaired thereby, and such provision shall be deemed to be restated to reflect the parties’
      original intentions as nearly as possible in accordance with applicable laws.
    </p>

    <p>
      MODIFICATION OF TERMS OF SERVICE You acknowledge and agree that VenteClub may, in its sole discretion, modify, add
      or remove any portion of these Terms of Service at any time and in any manner, including the terms of VenteClub
      membership, by posting revised Terms of Service on the Site. You may not amend or modify these Terms of Service
      under any circumstances. The current version of these Terms of Service is available at
      www.VenteClub.com/company/termsOfUse. It is your responsibility to check periodically for any changes we make to
      the
      Terms of Service. Your continued use of this Site after any changes to the Terms of Service means you accept the
      changes.
    </p>

    <p>
      EFFECT OF TERMINATION/SURVIVAL OF SELECTED PROVISIONS Notwithstanding the expiration or earlier termination of
      your
      VenteClub membership, or any general legal principles to the contrary, any provision of these Terms of Service
      that
      impose or contemplate continuing obligations or rights of a party will survive expiration or termination of these
      Terms of Service.
    </p>
    EFFECTIVE DATE April 01, 2012
  </div>
</div>