<div class="contentFull">
<p class="content-title">Terms Of Use</p>

<div class="staticContent">
<p>
  This website and/or its mobile applications (the “Site”) is owned and operated by Skypex Americas, LLC., and/or its
  subsidiaries or affiliates (“VENTECLUB”). These Website Terms of Use (“Terms of Use”) apply to your use of this
  Site. Any membership you may establish on the Site and/or the purchase or use of any products or services available
  through this Site are governed by the Terms & Conditions of Service posted (“Terms of Service”) on the relevant
  VENTECLUB website.
</p>

<p>
  Throughout the Site, the terms “we,” “us” and “our” refer to VENTECLUB. VENTECLUB offers this Site, including all
  information, tools and services available on this Site, to you, the user, conditioned upon your acceptance of these
  Terms of Use. Your continued use of this Site constitutes your agreement to these Terms of Use. If you do not wish
  to be bound by these Terms of Use, please do not use this Site.
</p>
<ol>
<li>
  Data integrityYou represent that all of the information, data and other materials you provide on this Site or to
  VENTECLUB through any other means are true, accurate, current and complete. You are responsible for updating and
  correcting the information you have provided on this Site, as appropriate.
</li>
<li>
  Privacy NoticeA copy of the Privacy Notice that applies to the collection, use, disclosure and other processing
  of personal information on this Site is located at http://www.venteclub.com/company/privacy. You consent to any
  personal information we obtain about you (either via this Site, by email, telephone or any other means) being
  collected, stored and otherwise processed in accordance with the terms of the Privacy Notice. We may update the
  Privacy Notice from time to time in our sole discretion, and post an updated version of the notice at the website
  address provided above.
</li>
<li>
  License and Site AccessAll content available through this Site (including, without limitation, text, design,
  graphics, logos, icons, images, audio clips, downloads, interfaces, code and software, as well as the selection and
  arrangement thereof) is the exclusive property of and owned by VENTECLUB, its licensors or its content providers,
  and is protected by copyright, trademark and other applicable U.S. and foreign laws.
  <p>
    VENTECLUB grants you a limited license to access and make personal use of this Site. Unless indicated to the
    contrary, you may access, copy, download and print the content available on this Site for your personal,
    non-commercial use, provided you do not modify or delete any copyright, trademark or other proprietary notices
    that
    appear in the content. VENTECLUB or its licensors or content providers retain full and complete title to the
    content
    available on the Site, including all associated intellectual property rights, and provide this content to you
    under
    a license that is revocable at any time in VENTECLUB’s sole discretion. VENTECLUB strictly prohibits any other use
    of any content available through the Site, including but not limited to:
  </p>
  <ol>
    <li>
      any downloading, copying or other use of the content or the Site for purposes competitive to VENTECLUB or for
      the
      benefit of another vendor or any third party;
    </li>
    <li>
      any caching, unauthorized linking to the Site or the framing of any content available on the Site;
    </li>
    <li>
      any modification, distribution, transmission, performance, broadcast, publication, uploading, licensing, reverse
      engineering, transfer or sale of, or the creation of derivative works from, any content, products or services
      obtained from the Site that you do not have a right to make available (such as the intellectual property of
      another
      party);
    </li>
    <li>
      any uploading, posting or transmitting of any material that contains software viruses or any other computer
      code,
      files or programs designed to interrupt, destroy or limit the functionality of any computer;
    </li>
    <li>
      using any hardware or software intended to surreptitiously intercept or otherwise obtain any information (such
      as
      system data or personal information) from the Site (including, but not limited to the use of any “scraping” or
      other
      data mining techniques, robots or similar data gathering and extraction tools);
    </li>
    <li>
      any action that imposes or may impose (in VENTECLUB’s sole discretion) an unreasonable or disproportionately
      large load on VENTECLUB’s infrastructure, or damage or interfere with the proper working of our infrastructure.
    </li>
  </ol>
</li>
<li>
  You are responsible for obtaining access to the Site, and that access may involve third-party fees (such as
  Internet service provider or airtime charges). In addition, you must provide and are responsible for all equipment
  necessary to access the Site. You may not bypass any measures that have been implemented to prevent or restrict
  access to this Site. Any unauthorized access to the Site by you (including any such access or use that involves in
  any way an account you may establish on the Site or any device you may use to access the Site) shall terminate the
  permission or license granted to you by VENTECLUB. VENTECLUB reserves the right to refuse or cancel any person’s
  registration for this Site, remove any person from this Site and prohibit any person from using this Site for any
  reason whatsoever, and to limit or terminate your access to or use of the Site at any time without notice. VENTECLUB
  neither warrants nor represents that your use of the content available on this Site will not infringe rights of
  third parties not affiliated with VENTECLUB. Termination of your access or use will not waive or affect any other
  right or relief to which VENTECLUB may be entitled, at law or in equity.
</li>
<li>
  <p>
    Content You SubmitYou acknowledge that you are responsible for any content you may submit through the Site,
    including the legality, reliability, appropriateness, originality and copyright of any such content. You may not
    upload to, distribute or otherwise publish through this Site any content that:
  </p>
  <ol>
    <li>
      is confidential, proprietary, invasive of privacy or publicity rights, infringing on intellectual property
      rights, unlawful, harmful, threatening, false, fraudulent, libelous, defamatory, obscene, vulgar, profane,
      abusive,
      harassing, hateful, racially, ethnically or otherwise objectionable, including, but not limited to any content
      that
      encourages conduct that would constitute a criminal offense, violates the rights of any party or otherwise gives
      rise to civil liability or otherwise violates any applicable U.S. of foreign laws;
    </li>
    <li>
      may contain software viruses or malware;
    </li>
    <li>
      contains advertisements or solicitations of any kind, or other commercial content;
    </li>
    <li>
      is designed to impersonate others;
    </li>
    <li>
      contains personal information (such as messages that include phone numbers, Social Security numbers, payment
      card
      numbers, account numbers, addresses or employer references), except where we expressly ask you to provide such
      information;
    </li>
    <li>
      contains messages by non-spokesperson employees of VENTECLUB purporting to speak on behalf of VENTECLUB or
      containing confidential information or expressing opinions concerning VENTECLUB;
    </li>
    <li>
      contains messages that offer unauthorized downloads of any copyrighted, confidential or private information;
    </li>
    <li>
      contains multiple messages placed within individual folders by the same user restating the same point;
    </li>
    <li>
      contains chain letters of any kind;
    </li>
    <li>
      contains identical (or substantially similar) messages to multiple recipients advertising any product or
      service, expressing a political or other similar message, or any other type of unsolicited commercial message;
      this
      prohibition includes but is not limited to (a) using the invitation functionality that may be available on the
      Site
      to send messages to people who do not know you or who are unlikely to recognize you as a known contact; (b)
      using
      the Site to connect to people who do not know you and then sending unsolicited promotional messages to those
      direct
      connections without their permission; or (c) sending messages to distribution lists, newsgroup aliases or group
      aliases.
    </li>
  </ol>
</li>
<li>
  You may not use a false email address or other identifying information, impersonate any person or entity or
  otherwise mislead as to the origin of any content. Some features that may be available on this Site require
  registration. By registering, you agree to provide true, accurate, current and complete information about yourself.
  <p>
    With respect to any content you submit or make available through the Site (other than personal information, which is
    handled in accordance with the Privacy Notice, you grant VENTECLUB a perpetual, irrevocable, non-terminable,
    worldwide, royalty-free and non-exclusive license to use, copy, distribute, publicly display, modify, create
    derivative works, and sublicense such content or any part of such content, in any media. You hereby represent,
    warrant and covenant that any content you provide does not include anything (including, but not limited to, text,
    images, music or video) to which you do not have the full right to grant such a license to VENTECLUB.
  </p>
</li>
<li>
  LinksThis Site may contain links to other websites or resources that are operated by third parties not affiliated
  with VENTECLUB. These links are provided as a convenience to you and as an additional avenue of access to the
  information contained therein. We are not responsible or liable for any content, advertising, products or other
  materials on or available from such sites or resources. Inclusion of links to other sites or resources should not be
  viewed as an endorsement of the content of linked sites or resources. Different terms and conditions and privacy
  policies may apply to your use of any linked sites or resources. VENTECLUB is not responsible or liable, directly or
  indirectly, for any damage, loss or liability caused or alleged to be caused by or in connection with any use of or
  reliance on any such content, products or services available on or through any such linked site or resource.
</li>
<li>
  <p>
    DISCLAIMERSEXCEPT AS OTHERWISE EXPRESSLY PROVIDED IN THESE TERMS OF USE OR THE TERMS OF SERVICE, OR REQUIRED BY
    APPLICABLE LAW, VENTECLUB MAKES NO REPRESENTATIONS, COVENANTS OR WARRANTIES AND OFFERS NO OTHER CONDITIONS, EXPRESS
    OR IMPLIED, REGARDING ANY MATTER, INCLUDING, WITHOUT LIMITATION, THE MERCHANTABILITY, SUITABILITY, FITNESS FOR A
    PARTICULAR USE OR PURPOSE, OR NON-INFRINGEMENT OF VENTECLUB MEMBERSHIP, ANY CONTENT ON THE SITES, OR ANY PRODUCTS OR
    SERVICES PURCHASED THROUGH THE VENTECLUB SITES, AS WELL AS WARRANTIES IMPLIED FROM A COURSE OF PERFORMANCE OR COURSE
    OF DEALING. IN CERTAIN JURISDICTIONS, THE LAW MAY NOT PERMIT THE DISCLAIMER OF WARRANTIES, SO THE ABOVE DISCLAIMER
    MAY NOT APPLY TO YOU.
  </p>

  <p>
    YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. THE SITE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. WE RESERVE
    THE RIGHT TO RESTRICT OR TERMINATE YOUR ACCESS TO THE SITE OR ANY FEATURE OR PART THEREOF AT ANY TIME. VENTECLUB
    DISCLAIMS ANY WARRANTIES THAT ACCESS TO THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE; THAT THE SITE WILL BE SECURE;
    THAT THE SITE OR THE SERVER THAT MAKES THE SITE AVAILABLE WILL BE VIRUS-FREE; OR THAT INFORMATION ON THE SITE WILL
    BE CORRECT, ACCURATE, ADEQUATE, USEFUL, TIMELY, RELIABLE OR OTHERWISE COMPLETE. IF YOU DOWNLOAD ANY CONTENT FROM
    THIS SITE, YOU DO SO AT YOUR OWN DISCRETION AND RISK. YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER
    SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH CONTENT. NO ADVICE OR INFORMATION OBTAINED BY YOU
    FROM THE SITE SHALL CREATE ANY WARRANTY OF ANY KIND.
  </p>

  <p>
    IN CERTAIN JURISDICTIONS, THE LAW MAY NOT PERMIT THE DISCLAIMER OF WARRANTIES, SO THE ABOVE DISCLAIMER MAY NOT APPLY
    TO YOU.
  </p>
</li>
<li>
  <p>
    LIMITATION OF LIABILITYTHE PROVIDERS WHOSE PRODUCTS AND SERVICES ARE AVAILABLE ON THE VENTECLUB SITES ARE
    INDEPENDENT CONTRACTORS AND NOT AGENTS OR EMPLOYEES OF VENTECLUB. VENTECLUB IS NOT LIABLE FOR THE ACTS, ERRORS,
    OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES OR NEGLIGENCE OF ANY SUCH SERVICE PROVIDERS OR FOR ANY PERSONAL
    INJURIES, DEATH, PROPERTY DAMAGE, OR OTHER DAMAGES OR EXPENSES RESULTING THEREFROM.
  </p>

  <p>
    YOU ACKNOWLEDGE AND AGREE THAT YOU ASSUME FULL RESPONSIBILITY FOR YOUR USE OF THE SITE AND/OR FOR USE OF THE
    VENTECLUB MEMBERSHIP, COMMUNICATIONS WITH THIRD PARTIES, AND PURCHASE AND USE OF THE PRODUCTS AND SERVICES AVAILABLE
    THROUGH THE VENTECLUB SITES. YOU ACKNOWLEDGE AND AGREE THAT ANY INFORMATION YOU SEND OR RECEIVE DURING YOUR
    MEMBERSHIP AND/OR USE OF THE SITE MAY NOT BE SECURE AND MAY BE INTERCEPTED BY UNAUTHORIZED PARTIES. YOU ACKNOWLEDGE
    AND AGREE THAT YOUR USE OF THE SITE IS AT YOUR OWN RISK AND THAT THE SITE IS MADE AVAILABLE TO YOU AT NO CHARGE.
    RECOGNIZING SUCH, YOU ACKNOWLEDGE AND AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW (INCLUDING,
    WITHOUT LIMITATION, CONSUMER PROTECTION LAW), NEITHER VENTECLUB NOR ITS LICENSORS, SUPPLIERS OR THIRD PARTY CONTENT
    PROVIDERS (“VENTECLUB ”) WILL BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, EXEMPLARY, INCIDENTAL, SPECIAL,
    CONSEQUENTIAL OR OTHER DAMAGES ARISING OUT OF OR IN ANY WAY RELATED TO (1) THIS SITE, OR ANY OTHER SITE OR RESOURCE
    YOU ACCESS THROUGH A LINK FROM THIS SITE; (2) ANY ACTION WE TAKE OR FAIL TO TAKE AS A RESULT OF COMMUNICATIONS YOU
    SEND TO US; (3) YOUR VENTECLUB MEMBERSHIP, ANY TERMINATION OR CANCELATION OF YOUR MEMBERSHIP, ANY REFERRAL CREDIT
    PROGRAM (OR ASSOCIATED CREDITS); (4) ANY PRODUCTS OR SERVICES MADE AVAILABLE OR PURCHASED THROUGH THE VENTECLUB
    SITES, INCLUDING ANY DAMAGES OR INJURY ARISING FROM ANY USE OF SUCH PRODUCTS OR SERVICES; (5) ANY DELAY OR INABILITY
    TO USE THE SITE OR ANY INFORMATION, PRODUCTS OR SERVICES ADVERTISED IN OR OBTAINED THROUGH THE SITE; (6) THE
    MODIFICATION, REMOVAL OR DELETION OF ANY CONTENT SUBMITTED OR POSTED ON THE SITE; OR (7) ANY USE OF THE SITE,
    WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF VENTECLUB HAVE BEEN ADVISED OF THE
    POSSIBILITY OF DAMAGES. IT IS THE RESPONSIBILITY OF THE USER TO EVALUATE THE ACCURACY, COMPLETENESS OR USEFULNESS OF
    ANY OPINION, ADVICE OR OTHER CONTENT AVAILABLE THROUGH THE SITE, OR OBTAINED FROM A LINKED SITE OR RESOURCE. THIS
    DISCLAIMER APPLIES, WITHOUT LIMITATION, TO ANY DAMAGES OR INJURY ARISING FROM ANY FAILURE OF PERFORMANCE, ERROR,
    OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, FILE CORRUPTION,
    COMMUNICATION-LINE FAILURE, NETWORK OR SYSTEM OUTAGE, LOSS OF PROFITS BY YOU, OR THEFT, DESTRUCTION, UNAUTHORIZED
    ACCESS TO, ALTERATION OF, LOSS OR USE OF ANY RECORD OR DATA, AND ANY OTHER TANGIBLE OR INTANGIBLE LOSS. YOU
    SPECIFICALLY ACKNOWLEDGE AND AGREE THAT NEITHER VENTECLUB NOR ITS LICENSORS, SUPPLIERS OR THIRD PARTY CONTENT
    PROVIDERS SHALL BE LIABLE FOR ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF ANY USER OF THE SITE. YOUR REMEDY FOR
    ANY OF THE ABOVE CLAIMS OR ANY DISPUTE WITH VENTECLUB IS TO DISCONTINUE YOUR USE OF THE SITE. YOU AND VENTECLUB
    AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SITE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE
    CAUSE OF ACTION ACCRUES OR THE CAUSE OF ACTION IS PERMANENTLY BARRED. BECAUSE SOME JURISDICTIONS DO NOT ALLOW
    LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, OR THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR
    INCIDENTAL DAMAGES, ALL OR A PORTION OF THE ABOVE LIMITATION MAY NOT APPLY TO YOU.
  </p>
</li>
<li>
  IndemnitiesYou will indemnify and hold harmless VENTECLUB from and against any and all fines, penalties,
  liabilities, losses and other damages of any kind whatsoever (including attorneys’ and experts’ fees), incurred by
  VENTECLUB and such parties, and shall defend VENTECLUB and such parties against any and all claims arising out of
  (1) your breach of these Terms and Use; (2) your breach of the Terms of Service; (4) fraud you commit, or your
  intentional misconduct or gross negligence; or (5) your violation of any applicable U.S. of foreign law or the
  rights of a third party. VENTECLUB will control the defense of any claim to which this indemnity may apply, and in
  any event, you shall not settle any claim without the prior written approval of VENTECLUB.
</li>
<li>
  Electronic CommunicationsWhen you use the Site or send emails to VENTECLUB, you are communicating with VENTECLUB
  electronically. You consent to receive electronically any communications related to your use of this Site. VENTECLUB
  will communicate with you by email or by posting notices on this Site. You agree that all agreements, notices,
  disclosures and other communications that are provided to you electronically satisfy any legal requirement that such
  communications be in writing. All notices from VENTECLUB intended for receipt by a customer shall be deemed
  delivered and effective when sent to the email address you provide on any of the VENTECLUB Sites.
</li>
<li>
  Site-Provided Email and PostingsThe Site may provide users with the ability to send email messages to other
  users and non-users and to post messages on the Site. VENTECLUB is under no obligation to review any content
  (including any messages) posted on or sent through the Site by users and assumes no responsibility or liability
  relating to any such content. VENTECLUB, in its sole discretion, may monitor, not post or remove any such content.
</li>
<li>
  Access to Password Protected Site FeaturesAccess to and use of password-protected areas of the Site is
  restricted to authorized users only. You are responsible for protecting your login credentials, including any
  password. You agree that you will be responsible for any and all statements made, and acts or omissions that occur,
  through the use of your login credentials. If you have any reason to believe or become aware of any loss, theft or
  unauthorized use of your login credentials, notify VENTECLUB immediately. VENTECLUB may assume that any
  communications we receive from your email or other address, or communications that are associated with your login
  credentials or your account on this Site, have been made by you unless we receive notice indicating otherwise.
</li>
<li>
  Trademarks and CopyrightsThe trademarks, logos and service marks (“Marks”) displayed on the Site are the
  property of VENTECLUB or its licensors or content providers, or other parties. Users or any parties acting on their
  behalf are prohibited from using any Marks for any purpose including, but not limited to use as meta tags on other
  pages or sites without the written permission of VENTECLUB or such third party which may own the Marks. You may not
  use frames or utilize framing techniques or technology to enclose any content included on the Site without
  VENTECLUB’s express written consent. Further, you may not utilize any Site content in any meta tags or any other
  “hidden text” techniques or technologies without VENTECLUB’s express written consent. All content (including any
  software programs) available on or through the Site is protected by copyright, trademark and other applicable U.S.
  and foreign laws.
</li>
<li>
  Claims of Intellectual Property InfringementVENTECLUB respects the intellectual property of others, and we ask
  our users to do the same. You are hereby informed that VENTECLUB has adopted and reasonably implemented a policy
  that provides for the termination in appropriate circumstances of website users or VENTECLUB members who are repeat
  copyright infringers. VENTECLUB may, in appropriate circumstances and at its discretion, disable and/or terminate
  the accounts and/or memberships of users who may be infringing the intellectual property of a third party. If you
  believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual
  property rights have been otherwise violated, please provide VENTECLUB’s Copyright Agent the following information
  (to be effective, the notification must be in writing and provided to our Copyright Agent):
  <ol>
    <li>
      an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or
      other intellectual property interest;
    </li>
    <li>
      a description of the copyrighted work or other intellectual property that you claim has been infringed, or, if
      multiple copyrighted works at a single online site are covered by a single notification, a representative list of
      such works at that site;
    </li>
    <li>
      identification of the material that is claimed to be infringing or to be the subject of infringing activity and
      that is to be removed or access to which is to be disabled, and a description of where the material that you claim
      is infringing is located on the Site;
    </li>
    <li>
      your address, telephone number, and, if available, email address;
    </li>
    <li>
      a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright
      owner, its agent, or the law; and
    </li>
    <li>
      a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that
      you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual
      property
      owner’s behalf
    </li>
  </ol>
</li>
<li>
  VENTECLUB’s agent for notice of claims of copyright or other intellectual property infringement can be reached
  as follows:
  <p>
    <b>By mail:</b><br/><br/>
    Copyright Agent<br/>
    c/o Skypex Americas<br/>
    2401 NW 34 Avenue<br/>
    Miami, FL 33142
  </p>

  <p>
    <b>By phone:</b><br/><br/>
    (855) 287-2338
  </p>

  <p>
    <b>By email:</b><br/><br/>
    <%= mail_to "support@venteclub.com" %>
  </p>

  <p>
    VENTECLUB may update this contact information from time to time without notice to you. We will post the current
    contact information on this Site.
  </p>
</li>
<li>
  Survival of Terms After Agreement Ends Notwithstanding any other provisions of these Terms of Use, or any general
  legal principles to the contrary, any provision of these Terms of Use that imposes or contemplates continuing
  obligations on a party will survive the expiration or termination of these Terms of Use.
</li>
<li>
  Force MajeureVENTECLUB shall be excused from performance under these Terms of Use or the Terms of Service, to
  the extent it is prevented from or delayed from performing, in whole or in part, as a result of an event or series
  of events caused by or resulting from (1) weather conditions or other elements of nature or acts of God, (2) acts of
  war, acts of terrorism, insurrection, riots, civil disorders or rebellion, (3) quarantines or embargoes, (4) labor
  strikes, or (5) other causes beyond the reasonable control of VENTECLUB. In the event that VENTECLUB is temporarily
  unable to ship to you a purchased item because of such an event, VENTECLUB will give you the option of deferring
  shipment or receiving a refund of your charges.
</li>
<li>
  <p>
    General From time to time, VENTECLUB may offer private sale offers that may or may not apply to your VENTECLUB
    account. You agree to be bound by any additional terms and conditions for these special offers, which can be found
    by clicking here. If any of the provisions set forth in these Terms of Use or the Terms of Service are deemed
    invalid, void, or for any reason unenforceable, the parties agree that the court should endeavor to give effect to
    the parties’ intentions as reflected in the provision, and the unenforceable condition shall be deemed severable and
    shall not affect the validity and enforceability of any remaining provisions of these Terms of Use or the Terms of
    Service. Section headings are for reference purposes only and do not limit the scope or extent of such section.
    These Terms of Use or the Terms of Service and the relationship between you and VENTECLUB will be governed by the
    laws of the State of New York without regard to its conflict of law provisions.
  </p>

  <p>
    If a dispute arises under these Terms of Use or the Terms of Service between you and VENTECLUB, such dispute shall
    be resolved, at the filing party’s election, in either a small claims court or by final and binding arbitration
    administered by the National Arbitration Forum or the American Arbitration Association, under their rules for
    consumer arbitrations. The venue for all disputes arising under these Terms of Use shall be New York, the State of
    New York. All disputes in arbitration will be handled solely between the named parties, and not on any
    representative or class basis. ACCORDINGLY, YOU ACKNOWLEDGE THAT YOU MAY NOT HAVE ACCESS TO A COURT (OTHER THAN A
    SMALL CLAIMS COURT) OR TO A JURY TRIAL. Notwithstanding any other provision of these Terms of Use or the Terms of
    Service, VENTECLUB may resort to court action for injunctive relief at any time.
  </p>

  <p>
    The failure of VENTECLUB to act with respect to a breach of these Terms of Use or the Terms of Service by you or
    others does not waive VENTECLUB’s right to act with respect to subsequent or similar breaches. If any content on
    this Site, or your use of the Site, is contrary to the laws of the place where you are when you access it, the Site
    is not intended for you, and we ask you not to use the Site. You are responsible for informing yourself of the laws
    of your jurisdiction and complying with them.
  </p>

  <p>
    VENTECLUB does not guarantee it will take action against all breaches of these Terms of Use or the Terms of Service.
    Except as otherwise expressly provided in these Terms of Use or the Terms of Service, there shall be no third-party
    beneficiaries to these Terms of Use or the Terms of Service.
  </p>
</li>
<li>
  Changes to These Terms of UseYou acknowledge and agree that VENTECLUB may, in its sole discretion, modify, add
  or remove any portion of these Terms of Use at any time and in any manner, by posting revised Terms of Use on the
  Site. You may not amend or modify these Terms of Service under any circumstances. The current version of these Terms
  of Use is available at <%= link_to "www.venteclub.com/terms_of_use", "/terms_of_use" %>. It is your responsibility to
  check periodically for any changes we make to the Terms of Use. Your continued use of this Site after any changes to
  the Terms of Use means
  you accept the changes.
</li>
<li>
  AssignmentYou may not assign these Terms of Use or the Terms of Service (or any rights, benefits or obligations
  hereunder) by operation of law or otherwise without the prior written consent of VENTECLUB, which may be withheld at
  VENTECLUB’s sole discretion. Any attempted assignment that does not comply with these Terms of Use or the Terms of
  Service shall be null and void. VENTECLUB may assign these Terms of Use or the Terms of Service, in whole or in
  part, to any third party in its sole discretion.
</li>
<li>
  <p>
    Entire Agreement and AdmissibilityThese Terms of Use constitute the entire agreement and understanding between
    you and VENTECLUB with respect to the subject matter thereof and supersede all prior or contemporaneous
    communications and proposals, whether oral or written, between the parties with respect to such subject matter.
  </p>

  <p>
    In some instances, both of these Terms of Use and a separate document that provides additional conditions may apply
    to a service or product offered via this Site (“Additional Terms”). To the extent there is a conflict between these
    Terms of Use and any Additional Terms, the Additional Terms will control unless the Additional Terms expressly state
    otherwise. A printed version of these Terms of Use shall be admissible in judicial or administrative proceedings
    based on or relating to use of this site to the same extent and subject to the same conditions as other business
    documents and records originally generated and maintained in printed form.
  </p>
</li>
<li>
  How to Contact Us If you have any questions or comments about these Terms of Use or this Site, please contact us
  by email at <%= mail_to "privacy@venteclub.com" %>. You also may write to us at:
  <p>
    VENTECLUB<br/>
    2401 NW 34 Avenue<br/>
    Miami, FL 33142<br/>
  </p>

  <p>
    Effective Date: April 01, 2012
  </p>
</li>
</ol>
</div>
</div>