<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>
  Event: <%= @event.name %><br/>
  Processing result: <b><%= @event_result %></b><br/>
  <% if @error %>
      <%= @error.html_safe %>
  <% end %>
</p>
</body>
</html>