<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Dear, <%= @user.full_name %></h1>

<p>
  We do not store your password. To reset current and create new one, please follow this link: <%= @url %>
</p>
</body>
</html>