<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body style="background-color: #ffffff;">
<div style='margin: 0 auto;max-width: 1000px;background-color: #ffffff;background-image: url("http://venteclub.com/assets/img/email_bg.jpg");background-position: right; background-repeat: no-repeat;min-height: 550px;min-width: 700px;'>
  <div style="height: 20px;"></div>
  <div style="text-align: left;padding-left: 40px;">
    <%= image_tag "http://venteclub.com/subscribe/logo/#{@subscriber.id}", :title => "VenteClub", :alt => "VenteClub" %>
  </div>
  <div style="padding: 40px; font-family: verdana;font-size: 12px;color: #666666;line-height: 18px;">
    <p>
      Hello,
    </p>

    <p>
      Welcome to VenteClub!
    </p>

    <p>
      We're excited to offer you daily discounts on original<br/>
      brands you love, including Luis Vuitton, Chanel,<br/>
      Victoria's Secret, Abercrombie & Fitch, Gap, Ralph<br/>
      Lauren, and more.
    </p>

    <p>
      With VenteClub.com, you and all your friends and<br/>
      family can take advantage of 70% discounts and<br/>
      FREE* international shipping.
    </p>

    <p>
      Please do not reply to this email; replies are not<br/>
      monitored.
    </p>

    <p>
      Sincerely,<br/>
      The VenteClub Support Team<br/>
    </p>

    <p>
      <small>*on orders over $500</small>
    </p>

  </div>
</div>
</body>
</html>