<div class="content">
  <p class="content-title">My Orders</p>

  <div class="content-body">
    <div class="dataRow">
      <%= label_tag(:period_selector, "More orders:") %>
      <%= select_tag :period_selector, options_for_select([["Open and recently shipped orders", "RECENT"], ["Orders placed in the past 6 months", "SIX_MONTHS"], ["All orders", "ALL"]]) %>
    </div>
    <div class="dataRow">
      No orders or transactions<br/>
      To view orders from a different time period, use the drop-down menu above<br/>
    </div>
    <div class="cleaner"></div>
  </div>

</div>
