<div class="content">
  <p class="content-title">My Shopping Cart</p>

  <div class="content-body">
    <% if @order %>
        <% i = 0 %>
        <% @order.products.each { |product| %>
            <div id="item_wrapper_<%= i %>">
              <%= link_to product.name, {:controller => :main, :action => :product, :id => product}, :item_number => i %>
              <%= link_to "X", "#1", :class => "del_product", :id => "del_" + i.to_s, :title => "Delete" %>
            </div>
            <% i +=1 %>
        <% } %>
        Total: $<span id="total"><%= @order.total_price_human %></span>
    <% else %>
        You have no products in your bag!
    <% end %>
    <div class="cleaner"></div>
  </div>
</div>