<!DOCTYPE html>
<html>
<head>
  <title>VenteClub</title>
  <%= stylesheet_link_tag "main/main", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "main/main" %>

</body>
</html>
